%h2= 'Hours Today: ' + elapsed(time_summaries[:today].last)
- if false && client
  %h2== ONLY FOR: #{client.name}
= time_summary 'This week',       time_summaries[:this_week]
= time_summary 'This pay period', time_summaries[:this_pp]
= time_summary 'Last pay period', time_summaries[:last_pp]
= time_summary 'Two PPs ago',     time_summaries[:last_pp_but_1]
= time_summary 'Three PPs ago',   time_summaries[:last_pp_but_2]
