= f.select :project_id, Project.active.map { |e| [e.name, e.id] }, :selected => @project.try(:id)
= f.text_field :name
= f.text_field :ticket_no, :label => 'Ticket #'
= f.check_box :active
= f.check_box :recurring
= f.text_area :notes, :size => '80x5'
