<label for="task_project_id">Project</label> <%= f.select :project_id, Project.active.map { |e| [e.name, e.id] } %><br />
<label for="task_name">Name</label> <%= f.text_field :name %><br />
<label for="task_ticket_no">Ticket #</label> <%= f.text_field :ticket_no %><br />
<label for="task_active">Active</label> <%= f.check_box :active %><br />
<label for="task_recurring">Recurring</label> <%= f.check_box :recurring %><br />
<label for="task_notes">Notes</label> <%= f.text_area :notes, :size => '80x5' %><br />
