<h1>Showing task</h1>

<%= show_field 'Project',   dash_if_blank(@task.project_name) %>
<%= show_field 'Name',      @task.name %>
<%= show_field 'Ticket #',  dash_if_blank(@task.ticket_no) %>
<%= show_field 'Active',    yesno(@task.active) %>
<%= show_field 'Recurring', yesno(@task.recurring) %>
<%= show_field 'Notes',     dash_if_blank(@task.notes) %>

<br />
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>