<h1>Showing client</h1>

<%= show_field 'Name',   @client.name %>
<%= show_field 'Active', yesno(@client.active) %>

<br />
<%= link_to 'All Clients', clients_path %> |
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Related Projects', client_projects_path(@client) %> |
<%= link_to 'New Project', new_client_project_path(@client) %>
