%h1 Listing projects

%table
  %tr
    %th Client
    %th Name
    %th Short Name
    %th Active
  - @projects.each do |project|
    %tr
      %td= link_to project.client_name, project.client if project.client
      %td= link_to project.name, project
      %td= project.short_name
      %td= yesno project.active

%br
= link_to 'New project', new_project_path
