<label for="time_block_task_id">Task</label> <%= f.select :task_id, Task.all.map { |e| [e.name, e.id] } %><br />
<label for="time_block_date">Date:</label> <%= f.text_field :date %><br />
<label for="time_block_start_time">Start Time:</label> <%= f.text_field :start_time %><br />
<label for="time_block_end_time">End Time:</label> <%= f.text_field :end_time %><br />
<label for="time_block_notes">Notes</label> <%= f.text_area :notes %><br /><br />
