= f.select :task_id, Task.all.map { |e| [e.name, e.id] }
= f.text_field :date
= f.text_field :ui_start_time, :label => 'Start Time'
= f.text_field :ui_end_time, :label => 'End Time'
= f.text_area :notes, :size => '80x5'
