%h1 Editing time_block

- labeled_form_for(@time_block) do |f|
  = f.error_messages
  = render :partial => 'form', :locals => {:f => f}
  %p= f.submit 'Update'

= button_to('Destroy', 'destroy')

= separated_group do |g|
  - g << link_to('Show', @time_block)
  - g << link_to('Back', time_blocks_path)
