<h1>Listing time blocks</h1>

<table>

<% last_day = nil %>
<% @time_blocks.each do |time_block| %>
  <% if time_block.date != last_day %>
    <tr>
      <th colspan="10" style="text-align: left;">
        <br />
        <%= last_day = time_block.date %>
      </th>
    </tr>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Elapsed</th>
      <th>Task</th>
      <th>Notes</th>
    </tr>
  <% end %>
  <tr>
    <td align="right"><%= short_time(time_block.start_time) %>&nbsp;</td>
    <td align="right"><%= short_time(time_block.end_time) %>&nbsp;</td>
    <td><%= link_to elapsed(time_block.elapsed_time), time_block %></td>
    <td><%= link_to time_block.task_name, time_block.task %></td>
    <td><%= h time_block.notes %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New time block', new_time_block_path %>